pre {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #eff0f1;
  width: auto;
  overflow: auto;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-size: 100%;

  vertical-align: baseline;
}
p code {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #eff0f1;
}
