.Renoti__noti {
  border-radius: 5px;
}
.Renoti__noti_factory {
  z-index: 5;
}
.Renoti__noti_default {
  background-color: white;
  border: 1px solid #065dec;
  color: #065dec;
}
.Renoti__noti_success {
  background-color: white;
  border: 1px solid #1dd362;
  color: #1dd362;
}
.Renoti__noti_error {
  background-color: white;
  border: 1px solid #fa081f;
  color: #fa081f;
}
.Renoti__noti_warning {
  background-color: white;
  border: 1px solid #f6ad0d;
  color: #f6ad0d;
}
