body {
  width: 100%;
  font-family: 'Noto Serif KR', serif;
  font-family: 'Noto Serif', serif;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,700|Noto+Serif:400,700&amp;subset=korean');
