body {
  width: 100%;
  background-color: #fdfdfd;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

pre, code, kbd, samp {
  font-family: 'Roboto Mono', Monaco, monospace;
}

p {
  line-height: 1.7rem;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}